@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.fontUserRegister {
  font-family: 'Open Sans';
}

.hiddenOverflow {
  overflow-x: hidden;
}

.topLeft {
  position: absolute;
  top: 20px;
  left: 50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin: 40px 80px;
}